# Configure Spotify destination playlist and Authorization Token
def configure_env

  # Change these three settings when setting up
  ENV["client_id"] ||= "<Your Spotify Client ID>"
  ENV["client_secret"] ||= "<Your Spotify Client Secret>"
  ENV["playlist_id"] ||= "<Playlist ID>"

  # If using CLI, add refresh token obtained via other instance of app
  ENV["cli_refresh_token"] = "<Refresh Token>"
end