# Configure Spotify destination playlist and Authorization Token
def configure_env

  # Change these three settings when setting up
  ENV["client_id"] ||= "<Your Spotify Client ID>"
  ENV["client_secret"] ||= "<Your Spotify Client Secret>"
  ENV["playlist_id"] ||= "<Make some changes>"


  ENV["refresh_token"] = File.read('./conf/refresh_token') if File.exist?('./conf/refresh_token')
  ENV["access_token"] = File.read('./conf/access_token') if File.exist?('./conf/refresh_token')
end